---
interface Props {
  images: {
    src: string;
    alt?: string;
  }[];
  columns: number;
  rowGap?: number;
  columnGap?: number;
}

const { images, columns = 3, rowGap = 1, columnGap = 1 } = Astro.props;

const style = `grid-template-columns: repeat(${columns}, 1fr); row-gap: ${rowGap}rem; column-gap: ${columnGap}rem; `;
---

<section class="container-small">
  <div class="grid" style={style}>
    {
      images.map((img, index) => (
        <div class="imgContainer" is-inview="fromB" data-delay={index / 10}>
          <img src={img.src} alt={img.alt ? img.alt : ""} />
        </div>
      ))
    }
  </div>
</section>

<style lang="scss">
  @import "../stylesheet/main.scss";

  .container-small {
    margin-top: 6rem;
    .grid {
      display: grid;
      .imgContainer {
        width: 100%;
        //aspect-ratio: 16/9;

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
</style>
