---
import ButtonOutline from "./ButtonOutline.astro";

interface Props {
  image: {
    src: string;
    alt?: string;
    size?: "sm" | "lg";
  };
  text: string;
  btn: {
    text: string;
    href: string;
  };
}

const { image, text, btn } = Astro.props;
---

<section class="container-small">
  <div class="flex">
    <div class=`imgContainer ${image.size}`>
      <img src={image.src} alt={image.alt} />
    </div>
    <div class="text">
      <p set:html={text} />

      <div class="btnContainer">
        <ButtonOutline href={btn.href}>
          {btn.text}
        </ButtonOutline>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @import "../stylesheet/main.scss";

  .container-small {
    margin-top: 6rem;
    .flex {
      display: flex;
      gap: 1.8rem;
      @media (max-width: $to_medium) {
        flex-direction: column;
      }
      .imgContainer {
        &.sm {
          width: 40%;
          min-width: 40%;
        }
        &.lg {
          width: 72%;
          min-width: 72%;
        }
        @media (max-width: $to_medium) {
          &.sm {
            width: 64%;
            min-width: 64%;
          }
          &.lg {
            width: 80%;
            min-width: 80%;
          }
          margin: 0 auto;
        }
        @media (max-width: $to_small) {
          width: 100%;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .btnContainer {
        margin: 2rem 0 0 auto;
        width: fit-content;
        @media (max-width: $to_medium) {
          margin: 2rem auto 0 auto;
        }
      }
    }
  }
</style>
